.cart{
    height: 100vh;
    display: grid;
    grid-template-columns: 4fr 1fr;


}
.cart> main{
  padding: 2rem;
  overflow-y: auto ;
}
.cart> main>h1{
    color: azure;
    font: 100 2rem 'Roboto';
  }

 .cart>aside{
  border-radius: 100px 0 0 100px;
  background-color: rgb(44, 45, 46);
  color: azure;
  height: 100%;
  width: 100%;
  box-shadow: -10px 0px 10px rgba(0, 0, 0, 182);
  display: flex;
  justify-content: center;
  flex-direction: column;
 } 
  
 .cart>aside>h2{
    margin: 2rem;
    font: 100 1.8rem "Roboto";
    letter-spacing: 2px;
 }


 .cartItem{
  background-color: thistle;
  width: 100%;
  border-radius: 10px;
  margin: 2rem 0;
  padding: 1rem ;
 display: grid;
 grid-template-columns: 1fr 3fr 1fr 1fr;
 align-items: center;

 }
 .cartItem>img{
  width: 100%;
  height: 200px;
  object-fit: contain;
}
.cartItem>div{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.cartItem>div>button{
  position: relative;
  top: 49px;

width: 30px;
height: 30px;
border:none;
background-color: grey;
color: azure;
border-radius: 5px;
cursor: pointer;

}
.cartItem>div>p{
  position: relative;
  top: 49px;
  width: 30px;  
  height: 30px;
  display: grid;
  place-items:center;
}
.cartItem>svg{
cursor: pointer;
font-size: 1.5rem;
display: inline-block;
margin: auto;
}


 
